@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error "Don't use units when using the rem() function; only numbers";
  }
}

@function em($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + em;
  } @else {
    @error "Don't use units when using the rem() function; only numbers";
  }
}

@mixin box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) ;
}
@mixin flex-center {
  display: flex;
    align-items: center;
    justify-content: center;
}