.red {
    color: red;
    width: 100px;
    height: 200px;
    border: 1px solid white;
    margin-inline: 5px;
    border-radius: 5px;
}

.black {
    color: gray;
    width: 100px;
    height: 200px;
    border: 1px solid white;
    margin-inline: 5px;
    border-radius: 5px;
}