.hobby{
    
    background-color: hsla(300, 100%, 67%, 0.333);
        border-radius: 8px;
        padding:1rem;
        text-align: center;
        box-shadow: 2px 2px 10px hsl(0, 0%, 0%);
    &__card{
        
    }

    &__text{
        font-size:1.1rem;
        color:white;
    }
    ul li{
        font-size:1.1rem;
        color:white;
        text-align:left;
    }
}